body {
    font-family: "Tahoma", Arial, sans-serif;
    font-size: 16px;
}

.quotebox {
    position: relative;
    margin: 20px auto;
    padding: 12px;
    width: 606px;
}

.quote-text-container {
    display: table;
    margin-left: 40px;
    margin-bottom: 5px;
    height: 220px;
    width: 90%;
    border-left: 4px solid #339900;
    background-color: #D1F0D6;
}

.quote-text {
    display: table-cell;
    vertical-align: middle;
    margin-left: 0;
    margin-right: 0;
    padding: 5px 10px;
    //border-left: 2px solid #339900;
    //background-color: #D1F0D6;
}


.quote-button {
    margin-top: 5px;
    position: absolute;
    right: 0;
    margin-right: 10px;
    width: 220px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: #339900;
    color: #FFF;
    font-size: 1.1em;
    cursor: pointer;
}